<ion-view view-title="Set Location">
  <ion-content>  

		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon fa fa-map-marker fa-fw placeholder-icon"></i>
		    <input type="text" placeholder="Enter your address or location">
		  </label>

		  <br>

			<button class="button button-block button-balanced button-outline"
			        ng-click="geoLocate()">
			  <i class = "fa fa-fw fa-location-arrow"></i> Use my current location!
			</button>
		  
		</div>



  </ion-content>
</ion-view>
